.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

out
*.ts
*.js.map
*.d.ts
node_modules
.vscode
.eslintrc.json
tsconfig.json
README.md